{% extends 'base.html' %}

{% block container %}

<div class="container text-center text-black-50 m-auto" style="font-family: 'Nunito', sans-serif; position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)">
    <h2 class=" fs-1 pt-5 fw-bold">Welcome to AI webpage</h2>
    <p class="fs-4">This is an Linear Regression based model</p>

<div class="text-center pt-5">
    <button onclick="window.location.href='/info'" type="button" class="btn btn-primary active px-5">Try it</button>
</div>
</div>
{% endblock  %}